@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Source+Serif+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
a{
    color: black ;
}
.font-black{
    color: black !important;
}
.brand-logo,h2{
    font-family: 'Grand Hotel', cursive;
}
.myLoginCard{
    margin: 0px auto;
    padding-top: 50px;
}
.footer{
    color: #fff;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 36px;
    z-index: 50;
}
.instagram{ 
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}
.a-home-image{
    color: black !important;
}
nav ul a{
    padding: 0 8px;
}
.auth-card{
    max-width: 400px;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
}
.home {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
}
.nav{
    margin-top: 0px;
    z-index: 50;
    position: fixed;
    height: 36px;
    line-height: 36px;
    background-color: rgb(26, 26, 26);
    color: white;

}
#toast-container {
    right: auto !important;
    top: 26px !important;
  }
.white-logo{
    color: white !important;
}
.nav,i,a{
    color: white;
}
.home-card{
    max-width: 500px;
    margin: 20px auto;
}
.card{
    
}
.border-img-gradient{
    display: flex;
    align-items: center;
}
.image-circle{
    vertical-align: middle;
    text-align:center;
    position:relative; /*makes left effective*/
    display:table-cell;    
}
.circle-g{
    width: 42px;
    height: 42px;
    
    border-radius: 50%;
    border: 3px solid transparent;
    float: left;
    margin-top: -5px;
    margin-right: 16px;
    
}
.transform-component-module_wrapper__1_Fgj{
    overflow: none;
}
.header-post{
    height: 60px;
    padding: 16px ;
}
.my-anchor-css-class{
    color: #8e8e8e !important;
}
.card .card-content {
    padding: 15px 15px 15px 15px;
    
    border-radius: 0 0 2px 2px;
}
.card .card-image{
    text-align: center;
}
.card .card-image img{   
    
    height: 60vh;
    object-fit: fill;
}
.icons{
    justify-content: left;
}
.js-resize-sensor, .t-CardsRegion, .a-CardView-media, .a-TMV-w-scroll {
    overflow: visible!important;
 }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
  }

  .galery{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  .item{
      width: 100%;
      height: 145px;
      margin: 3px 0px 0px 0px;
      object-fit: cover;
  }
  .input-filed{
      padding: 20px;
      text-align: center;
      max-width: 400px;
      margin: 0px auto;
  }
  .input-filed-config{
      padding: 11px;
      text-align: center;
      max-width: 400px;
      margin: 0px auto;
      position: relative;
  }
  #toast-container{
      top:46px;
  }

.input-filed-config h6{
    color:gray
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: black;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid black;
}
.settings-setor{
    padding: 10px;
}
.gradiente-setor-amarelo{
    padding: 10px;
    background-image: linear-gradient(to right, white, #ffeb3b );
}
.gradiente-setor-roxo{
    padding: 10px;
    background-image: linear-gradient(to right, white, #673ab7 );
}
.gradiente-setor-verde{
    padding: 10px;
    background-image: linear-gradient(to right, white, #4caf50 );
}
.settings,h5,h2,h4{
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
}
.settings{
    padding-top: 30px;
}