@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Source+Serif+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
a{
    color: black ;
}
.font-black{
    color: black !important;
}
.logo-font {
    font-family: 'Major Mono Display', monospace;
    /* background: linear-gradient(to right, #d03030 0%,#d030a8 10%,#3088d0 20%,#0ce2e2 40%,#0ce265 60%,#fffb00 80%, #ffffff 100%);  */
	color: white !important;
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: bold;
    left: 10px;
    position: absolute;
    /* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
  }
.logo-font-bk {
    font-family: 'Major Mono Display', monospace;
    background: linear-gradient(to right, #d03030 0%,#d030a8 10%,#3088d0 20%,#0ce2e2 40%,#0ce265 60%,#fffb00 80%, #ffffff 100%); 
	/* color: white !important; */
    margin-top: 11px;
    font-size: 2rem;
    font-weight: bold;
    left: 8px;
    position: absolute;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    opacity: 0.2;
  }
/* .brand-logo,h2{
    font-family: 'Grand Hotel', cursive;
} */
.myLoginCard{
    margin: 0px auto;
    padding-top: 50px;
}
.footer{
    color: #fff;
    background-color: black ;
    position: fixed;
    width: 100%;
    bottom: -2px;
    height: 36px;
    z-index: 1;
}
.footer-search{
    columns: white !important;
}
.footer-search .input-search{
    width: 100% !important;
}
#modalSearch{
    top: 56px !important;
    background-color: #323232;
    height: 50vh;
}
.content-results{
    /* position: fixed; */
    position: absolute;
    margin-top: 60px;
    width: 100%;
    height: 100%; 
    max-width: 614px;
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 300px;
}
.showAuto{
    display: block;
    width: 100%;
    left: 0;
    top: 43px;
    height: 150px;
    transform-origin: 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}
#modalSearch .input-field>label{
    color: white !important;
    top: -10px
}
#modalSearch .input-field input[type=text]:focus{
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white !important;
}
#search{
    color: white !important;
    font-size: 18px;
}
.modal-footer {
    background-color: #323232 !important;
}
.btn-search{
    color: orange !important;
    margin-right: 0px;
}
.instagram{ 
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}
.a-home-image{
    color: black !important;
}
nav ul a{
    padding: 0 8px;
}
.auth-card{
    max-width: 400px;
    text-align: center;
    padding: 20px;
    margin: 0px auto;
}
.home {
    padding-top: 46px;
    padding-bottom: 30px;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
}
.search{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    min-height: 100vh;
    max-width: 614px;
    margin: 0px auto;
    
}
.search-content hr{
    opacity: .1;
}
.search-content{
    width: 100vw;
    background-color: rgb(245, 245, 245);
    min-height: 100vh !important;
    position: fixed;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.input-container{
    padding: 5px 10px 0px 10px;
}
#search-input{
    padding: 3px 3px 3px 35px;
    margin-left: 2px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #323232;
    font-weight: bold;
}
.tabs .tab a {
    color: #323232;
    text-transform: none;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(182, 182, 182, 0);
    outline: none;
}
.tabs .indicator {
    background-color: #323232;
}
.tab-item{
    border-bottom: 1px solid #30303010;
}
.yes{
    color: red !important;
    font-weight: bold;
    font-size: 18px;
}
.nav-icons{
    font-size: 1.5rem !important;
}
.sidenav-overlay{
    z-index: 2 !important;
}
.sidenav li{
    width: 100%;
    border-bottom: 1px solid #323232;

}
.sidenav{
    background-color: white;
    z-index: 5000;
}
.nav{
    margin-top: 0px;
    z-index: 101;
    position: fixed;
    height: 56px;
    line-height: 36px;
    /* background-color: rgb(26, 26, 26); */
    background: rgb(0, 0, 0) ;
    color: white;

}
.nav li{
    margin-top: 14px;
}
#toast-container {
    right: auto !important;
    top: 45px !important;
  }
.white-logo{
    color: white !important;
}
.nav,i,a{
    color: white;
}
.home-card{
    max-width: 614px;
    margin: 20px auto;
}
.card{
    z-index: 0;
    position: unset ;
}
.border-img-gradient{
    display: flex;
    align-items: center;
}
.image-circle{
    vertical-align: middle;
    text-align:center;
    position:relative; /*makes left effective*/
    display:table-cell;    
}
.div-store{
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 5px;
    margin-bottom: 2px;
    align-items: center;
}
.circle-g-new{
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid transparent;
    float: left;
    margin-top: 5px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    z-index: 2;
    
}
.circle-g{
    width: 42px;
    height: 42px;    
    border-radius: 50%;
    border: 3px solid transparent;
    float: left;
    margin-top: -5px;
    margin-right: 16px;
    
}
.transform-component-module_wrapper__1_Fgj{
    overflow: none;
}
.header-post{
    height: 60px;
    padding: 16px ;
}
.my-anchor-css-class{
    color: #8e8e8e !important;
}
.card .card-content {
    padding: 15px 15px 15px 15px;
    
    border-radius: 0 0 2px 2px;
}
.card .card-image{
    text-align: center;
}
.card .card-image img{   
    /* max-width: 614px; */
    height: 100%;
    object-fit: fill;
}

.icons{
    justify-content: left;
}
.home-images .lazy-load-image-background.blur.lazy-load-image-loaded {
    width: 100vw;
    max-width: 614px;
}
.profile-image-container .lazy-load-image-background.blur.lazy-load-image-loaded {
    max-width: calc(550px/3);
      height: 33vw;
      max-height: calc(550px/3);
      width: 33vw;
}
/* .js-resize-sensor, .t-CardsRegion, .a-CardView-media, .a-TMV-w-scroll {
    overflow: visible!important;
 } */
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #323232 !important;
    box-shadow: 0 1px 0 0 #323232 !important;
  }

  .galery{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  .item{
      width: 100%;
      height: 145px;
      margin: 3px 0px 0px 0px;
      object-fit: cover;
      background-color: black;
      display: unset;
      position: unset;
      z-index: 1;
  }
 .item-galery{
      max-width: calc(550px/3);
      height: 33vw;
      max-height: calc(550px/3);
      width: 33vw;
      margin: 3px 0px 0px 0px;
      object-fit: cover;
  }
  .profile-image-container.lazy-load-image-background.blur.lazy-load-image-loaded{
    width: '33% !important';
    margin: '0px 1px 0px 0px';
  }
  .carousel.carousel-slider{
    /* max-width:100% !important;  */
    height: 100vw;
    max-height: 614px;
  }
  .input-filed{
      padding: 20px;
      text-align: center;
      max-width: 400px;
      margin: 0px auto;
  }
  .input-filed-config{
      padding: 11px;
      text-align: center;
      max-width: 400px;
      margin: 0px auto;
      position: relative;
  }
  #toast-container{
      top:46px;
  }

.input-filed-config h6{
    color:gray
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: black;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid black;
}
.settings-setor{
    padding: 10px;
}
.gradiente-setor-amarelo{
    padding: 10px;
    background-image: linear-gradient(to right, white, #ffeb3b );
}
.gradiente-setor-roxo{
    padding: 10px;
    background-image: linear-gradient(to right, white, #673ab7 );
}
.gradiente-setor-verde{
    padding: 10px;
    background-image: linear-gradient(to right, white, #4caf50 );
}
.settings,h5,h2,h4{
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
}
.settings{
    padding-top: 30px;
}
.profile-store-bar{
    width: 100%;
    font-weight: bold;
}